<html>

#hello 
  background-color: pink;
}

#bye{ 
  background-color: purple;
  color:white;
  width:200em
  Margin:50em
  min-height: 200em;
  max-width:150px;
}

header {
  background-color: salmon pink;
  
</html>
